<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidauto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".SettingsActivity"
            android:label="Android Auto Plugin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <receiver android:name="PluginReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.fr3ts0n.androbd.plugin.IDENTIFY" />
                <category android:name="com.fr3ts0n.androbd.plugin.REQUEST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AndroidAutoPlugin"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MyMediaBrowserService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
    </application>

</manifest>